* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: url("images/magic.png") repeat-y;
  background-size: cover;
}
/* Readjusting margin of h1 */
h1 {
  margin: 10px;
}

#input,
.btn {
  font-family: "Open Sans";
  font-size: larger;
  margin: 10px;
  border-radius: 10px;
  border:2px solid grey;
}
/* Calculator Container  */
.container {
  border-radius: 10px;
  max-width: 35vw;
  margin: 80px auto;
  padding: 2%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
#input{
  text-align: right;
  width: 300px;
  padding: 10px 15px;
  border: 2px solid grey;
}
.pressed-op {
  background-color: #df0790;
  color: #fff;
}
.btn {
  text-align: center;
  font-weight: bold;
  width: 55px;
  padding: 15px;
  
}
.btn:hover {
  cursor: pointer;
  background-color: darkgrey;
  color:#df0790;
}
.clear {
  width: 100%;
}
.row {
  max-width: 25vw;
}

/* Media Queries */
@media (max-width : 600px){
  .container{
      max-width:90vw;
      margin:40px auto;
  }
  .row{
    display:flex;
    justify-content:center;
  }
  .btn{
    padding:15px 20px;
    border :2px solid grey;
  }
}
